<div class="list-users">
  <div *ngFor="let user of array; let i = index">
    <div class="user" >
      <div class="user-photo"></div>
      <div class="user-name">{{user.name}}</div>
      <div>{{user.text}}</div>
    </div>
  </div>
</div>

<div class="chat-box">

  <div class="header">
    <div class="user-photo"></div>
    <div class="user-name">{{chatId}}</div>
  </div>

  <div class="body">
    <div class="list-messages">
      <div class="message" *ngFor="let message of (chat$ | async)?.message" [class.me]="message.userId == userId">
        <div class="nickName">{{message.userName}}</div>
        <div>{{ message.text }}</div>
        <div class="hour">{{message.date}}</div>
      </div>
    </div>
    <div class="send-message">
      <input type="text" placeholder="Digite sua mensagem" [(ngModel)]="newMessage" />
      <button (click)="sendMessage()">Enviar</button>
    </div>
  </div>
</div>