<div class="container">
  <h1>Chat Shit</h1>
  <label>Nome do Usuario</label>
  <input [(ngModel)]="userName" />
  <label>Codigo da sala</label>
  <input [(ngModel)]="chatid" />
  <button (click)="singIn()">Entrar</button>

  <button (click)="changeShow()">Nova Sala</button>
  <input *ngIf="show" [(ngModel)]="newChatId" placeholder="Insira o Nome da Sala" />
  <button *ngIf="show" (click)="CreateRoom()">Criar</button>

</div>