.container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px #CCC;
    width: calc(100% - 50%);
    margin-left: calc(100% - 80%);
    height: 90vh;
    input, button {
        width: 20vw;
        border-radius: 5px;
        margin: 20px;
        box-shadow: 0 0 10px #CCC;
        outline: none;
    }
    input {
        font-size: 16px;
        padding: 2px;
        padding-left: 10px;
    }
    button {
        background: darkcyan;
        color: #FFFF;
        height: 39px;
        text-align: center;
    }
}