/* You can add global styles to this file, and also import other style files */
html {
    font-family: sans-serif;
}

.list-users {
    float: left;
    border: 1px solid #CCC;
    width: 12vw;
    height: 500px;
    box-shadow: 0 0 10px #CCC;
    border-radius: 5px;
    padding: 15px;
    position: relative;
}

.list-users .btn-add-user{
    height: 50px;
    width: 50px;
    background: darkcyan;
    position: absolute;
    bottom: 15px;
    right: 15px;
    color: white;
    font-size: 24px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.list-users .user {
    border-bottom: 1px solid #CCC;
    padding: 10px;
    padding-bottom: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.list-users .user:hover {
    background: #EFEFEF;
}

.list-users .user .user-name {
    display: inline-block;
    position: relative;
    bottom: 13px;
    left: 10px;
    font-size: 18px;
}

.chat-box {
    float: left;
    border: 1px solid #CCC;
    box-shadow: 0 0 10px #CCC;
    width: calc(100% - 350px);
    margin-left: 10px;
    height: 85vh;
}

.header {
    padding: 5px;
    text-align: center;
    background: #DDD;
}

.user-photo {
    background: url('http://static1.squarespace.com/static/542085d2e4b0be37af67b15a/t/5d129e034c2279000133c410/1561501191031/Grupo+800+x+800.png?format=1500w');
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: inline-block;
    box-shadow: 0 5px 15px #888;
}

.chat-box .user-name {
    display: inline-block;
    font-size: 20px;
    position: relative;
    bottom: 13px;
    left: 15px;
    font-weight: bold;
}

.chat-box .message {
    background: #CCC;
    clear: both;
    float: left;
    margin: 10px 20px 0px 20px;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 14px;
}

.chat-box .message .hour {
    font-size: 10px;
}

.chat-box .message.me .hour {
    text-align: right;
}

.chat-box .message.me {
    float: right;
    background: darkcyan;
    color: white;
}

.chat-box .list-messages {
    height: 430px;
    overflow-y: auto;
}

.chat-box .send-message {
    border-top: 1px solid #ccc;
    height: 45px;
}

.chat-box .send-message input {
    height: 30px;
    width: calc(100% - 145px);
    border: none;
    outline: none;
    padding-left: 20px;
}

.chat-box .send-message button {
    height: 100%;
    width: 120px;
    background: darkcyan;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

.modal .content{
    position: fixed;
    left: calc(50% - 200px);
    height: 300px;
    width: 400px;
    border-radius: 10px;
    background: white;
    box-shadow: 0 0 10px #333;
    padding: 40px;
}

.modal .content .close{
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 30px;
    cursor: pointer;
    color: #999;
}

.modal .content h1{
    text-align: center;
}

.modal .content input{
    width: calc(100% - 20px);
    height: 40px;
    margin-bottom: 20px; 
    padding-left: 20px;
}

.modal .content button{
    width: 100%;
    height: 40px;
    background: darkcyan;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.modal .overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.3);
}

@media only screen and (max-width: 530px) { 
    .list-users {
        width: 100px;
        font-size: 10px;
    }
    .chat-box {
        width: 200px;
        button {
            width:100% !important;
        }
        input {
            width: 150px !important;
        }
    }
}